POSTGRES_USER=nango
POSTGRES_PASSWORD=generate_a_strong_password
POSTGRES_DB=nango

NANGO_DB_USER=nango
NANGO_DB_PASSWORD=generate_the_same_value_as_POSTGRES_PASSWORD
NANGO_DB_NAME=nango
NANGO_DB_HOST_PORT=5544

NANGO_REDIS_HOST_PORT=6381

SERVER_PORT=3005
CONNECT_UI_PORT=3010
NANGO_PUBLIC_CONNECT_URL=http://localhost:3010
NANGO_SERVER_URL=http://localhost:3005
NANGO_PUBLIC_SERVER_URL=http://localhost:3005

NANGO_ENCRYPTION_KEY=generate_a_base64_encoded_32_byte_secret
FLAG_AUTH_ENABLED=true
NANGO_DASHBOARD_USERNAME=retention-admin@example.local
NANGO_DASHBOARD_PASSWORD=generate_a_strong_password

FLAG_SERVE_CONNECT_UI=true
NANGO_LOGS_ENABLED=false
LOG_LEVEL=info
